{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'usuarios/css/auth_card.css' %}">

<div class="auth-card">

    <div class="auth-icon"><i class="fas fa-lock"></i></div>
    <h2 class="auth-title">Recuperar Acceso</h2>
    <p class="auth-subtitle">Ingresa tu correo para buscar tu cuenta</p>

    <form method="POST" class="auth-form">
        {% csrf_token %}

        <div class="input-group">
            <label>Correo Electrónico</label>
            <input type="email" name="email" class="auth-input" placeholder="ejemplo@correo.com" required id="id_email">
        </div>

        <button type="submit" class="btn-auth-primary">
            ENVIAR ENLACE
        </button>

    </form>

    <div class="auth-footer">
        <a href="{% url 'signin' %}">
            <i class="fas fa-arrow-left"></i> Regresar a Iniciar Sesión
        </a>
    </div>

</div>
{% endblock %}